VITE_BACKEND_URL="http://localhost:8000"
VITE_LOKI_HOST="https://.net"
VITE_LOKI_USER=""
VITE_LOKI_APIKEY = "="
VITE_LOKI_LABELS= '{"app":"octodock","env":"production"}'
VITE_LOKI_ISJSON= true
VITE_LOKI_INTERVAL= 20
VITE_DEPLOYMENT_SERVER="http://localhost:9000"